* {
    margin: 0;
    padding: 0;
}

.itemCart{
    max-width:fit-content;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.itemCart:hover{
    transition: all .3s;
    transform: translateY(-3%);
}

.itemCart .carts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemCart .carts .cart_picture {
    height: 170px;
    width: auto;
    padding: 20px;
}

.detailTitle {
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    color: lightblue;
}

.itemCart .carts .cart_description {
    margin: 5px;
    justify-content: left;
    font-size: 1rem;
}

.itemCart .carts .cart_price {
    font-size: 1.3rem;
    margin: 2px;
}

.benjamin_button {
    background-color: lightblue;
    border: none;
    border-radius: 6px;
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 2px;
    margin-top: 100px;
}
.button:hover {
    background-color: lightskyblue;
}