
.header {
    margin: 30px 50px 0px 50px;
    background-color: whitesmoke;
}
.header_div {
    display: flex;
    justify-content:space-between;
}
.header_logo{
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    
}
.logo {
    width: 70px;
}

.logo_slogan {
    justify-content: center;
    margin-left: 20px;
    color: lightskyblue;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
}
.navLink{
    color: silver;
    font-size: 1.4rem;
}
.navLink:hover {
      color: lightskyblue;
      transition: all .3s;
}
